*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-transform: uppercase;
}
div,section,footer,header{
    background-color: lightblue;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
}
.header,.footer{
    border: 5px solid white;
}
.main_content,.sidenav{
    border: 5px solid white;
    text-align: center;
}
.main_content{
    flex-grow: 3;
}
.sidenav{
    flex-grow: 1.5;
    max-width: 15%;
}
@media all and (max-width:1100px){
    .sidenav{
        max-width: 20%;
    }
}
.header{
    flex-grow: .5;
}
.main{
    display: flex;
    flex-grow: 2;
}
.footer{
    flex-grow: .5;
}