@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=Train+One&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Londrina Solid', cursive;
  font-size: 3em;
}
#one{
  background-color: rgb(29, 208, 240);

}
#two{
  background-color: rgb(230, 44, 114);
}
#one,#two{
  border: 25px solid rgb(6, 9, 215);
  padding: 20px;
  margin: 40px;
  text-align: center;
  box-sizing: border-box;
  height: 150px;
}
