@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.gif{
    height: 15px;
}
.item{
    display: flex;
    align-content: center;
}
.text{
    color:darkblue;
    font-weight: 500;
    font-size: 20px;
}
h1{
    margin-bottom: 25px;
}