@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.heading{
  display: flex;
  justify-content: start;
  margin-top: 10px;
  min-width: 90vw;
  .logo{
      margin: 0 10px;
      display: flex;
      justify-content: center;
      align-content: center;
      .logo__pic{
          width: 180px;
          height: auto;
      }
  }
  .details{
      h2{
          font-size: 2em;
          font-weight: 600;
      }
      .small{
          font-size: 0.8em;
      }
  }
}
@media (max-width:500px){
  .heading{
    flex-direction: column;
    .logo{
      justify-self: center;
      align-self: center;
    }
    .details{
      max-width: 90vw;
      justify-self: center;
      align-self: center;
    }
  }
}